// Colors
$lightblue: rgb(158, 189, 221);
$mediumblue: #2B3E50;
$darkblue: #1F2D3B;
$white: #f7f7f7;
$content: #777777;
$black: #222222;

$pricing-one-light: #7ed56f;
$pricing-one-dark: #28b485;

$pricing-two-light: #2998ff;
$pricing-two-dark: #5643fa;

$pricing-three-light: #ffb900;
$pricing-three-dark: #ff7730;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font-Sizes
$default-font-size: 1.6rem;