/*
COLORS:

Light blue: #A7B9CE;
Medium blue: #2B3E50
Dark Blue: #1F2D3B;

*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #666;
    box-sizing: border-box;
}
.header {
    height: 95vh;
    background-image: linear-gradient(to right, rgba(43, 62, 80, 0.85), rgba(167,185,206,0.85)), url(../IMG/HERO2.JPG);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}
.header__logo {
    height: 7.5rem;
    border-radius:50%;
}
.header__logo:hover {
    animation: pulse 2.5s infinite;
}
.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.heading-primary {
    color: #fff;
    text-transform:uppercase;
    backface-visibility: hidden;
}
.heading-primary--main {
    display:block;
    font-size: 7.5rem;
    font-weight: 700;
    letter-spacing: 3.8rem;
    margin-left:3rem;
    animation: moveInTop 1.3s ease-out;
    text-shadow: .1rem .1rem .6rem rgba(0,0,0,0.5);
}
.heading-primary--sub {
    display:block;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 1.48rem;
    animation: moveInBottom 1.3s ease-out;
    text-shadow: .1rem .1rem .6rem rgba(0,0,0,0.5);
    margin-bottom: 4.5rem;
}
.btn:link,.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 5rem;
    display:inline-block;
    border-radius: 9rem;
    position: relative;
    border: .1rem solid #2B3E50;
    box-shadow: 0 0 1rem rgba(0,0,0,.4)
}
.btn:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);    
    transition: all .2s;
}
.btn:active {
    transform:translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);  
    transition: all .2s;
}

.btn--white {
    background-color: rgba(255,255,255,.7);
    color: #666;
    font-weight: 700;
}
.btn--white::after {
    background-color: #fff;
}
@keyframes moveInTop {
    0% {
    opacity: 0;
        transform: translateY(-2rem);
    }
    80% {
        transform: translateY(.1rem);
    }
    100% {
    opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    80% {
        transform: translateY(-.1rem);
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.3);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(255,255,255, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
      box-shadow: 0 0 0 0 rgba(255,255,255, 0);
  }
}
